* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #B3E5FC;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

.error {
   color: red; 
   margin-bottom: 10px;
   text-align: center;
}

.form-container {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.form-group {
    display: flex;
    margin-bottom: 20px;
    align-items: flex-start;
}

.icon-container {
    width: 40px;
    height: 40px;
    background-color: #f0f7ff;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    flex-shrink: 0;
}

.icon-container i {
    color: #070707;
    font-size: 15px;
}

.input-container {
    flex-grow: 1;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.disclaimer {
    font-size: 12px;
    font-style: italic;
    color: #333;
    margin-top: 10px;
}

input, textarea, select { 
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f0f7ff;
    border-radius: 5px;
    font-size: 14px;
    appearance: none; 
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    padding-right: 30px; 
}

select {
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>'); 
}

textarea {
    resize: none;
    height: 100px;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #0275d8;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
}

.submit-btn:hover {
    background-color: #0275d8;
}

input::placeholder, textarea::placeholder {
    color: #aaa;
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }
    
    .form-container {
        padding: 20px;
    }
}